html {
  background-color: #fdf6e3;
}
header {

  font-size: 1.5rem;
}
nav{
  ul{
    font-family: sans-serif;
 }
}
masthead{
  text-transform: uppercase;
  background-color: #eee8d5;
}
contents{
  favs{
    facts{
      types{
        color: #93a1a1;
      }
    }
 }
}
